.navbar .navbar-brand img
{
    max-height: 86px;
}

/* nav.navbar 
{
    background: url("../img/fond-header.jpg") no-repeat;
    
} */

nav.navbar
{
    background: url("../img/fond-header.jpg") no-repeat;
    padding : 0;
}

a.nav-link
{
    color: #fff !important ;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: ; */
    
}
div.navbar-collapse
{
    background: #6c3218;
    
}

.whiteBold
{
    color: white;
    font-weight: bold;
    text-align: center;
}

.divTitre1
{
    background-color: #3E160D;
    text-transform: uppercase;
    font-family: Verdana;
    padding: 0.4em;
}
.remise{
background-color: #E13B07;
}
.new
{
    font-size: 0.9em;
    font-family: verdana;
    text-align: center;
    text-transform: uppercase;

}
.divBorder
{
    border: #000 solid 1px;
}
.divPositionPrix
{
    position: absolute; 
    right: 5px; 
    bottom: 5px;
    
}
.spanBgInfo
{
    background-color: silver;
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    padding : 5px 0 5px 0;

}
.price
{
    background-color: red;
    border-radius: 10px;
    color: #fff;
    padding : 5px;
    font-weight: bold;
    font-size: 1.2em;;
    text-align: center;
    width: 30%;
   
}
